<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="up.envisage.mapable">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/logo_mapable_240x240"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_mapable_240x240"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- Activities -->
        <!-- Launcher -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisclosureAdapterActivity"/>
        <!-- Registration && Login -->
        <activity android:name=".ui.registration.LoginActivity" />
        <activity android:name=".ui.registration.RegisterActivity" />
        <!-- Main Activity -->
        <activity android:name=".MainActivity" />
        <!-- Main Menu -->
        <activity android:name=".ui.home.AboutManilaBayActivity" />
        <activity android:name=".ui.home.ReportingActivity" />
        <activity android:name=".ui.home.ViewReportActivity" />
        <activity android:name=".ui.home.LeaderboardActivity" />
        <activity android:name=".ui.home.MyReportsListActivity" />
        <activity android:name=".ui.home.UserStatisticsActivity" />
        <activity android:name=".ui.home.InformationActivity" />
        <activity android:name=".ui.support.FeedbackActivity" />
        <activity android:name=".ui.home.AboutActivity"/>
        <activity android:name=".ui.home.ReportIncidentActivity" />
        <activity android:name=".ui.home.CameraActivity" />
        <activity
            android:name=".fragment.GoogleMapFragment"
            android:label="Google Maps" />
        <!-- Report -->
        <activity android:name=".ui.home.report.ReportAlgalBloom" />
        <activity android:name=".ui.home.report.ReportFishKill" />
        <activity android:name=".ui.home.report.ReportPollution" />
        <activity android:name=".ui.home.report.ReportIllegalReclamation" />
        <activity android:name=".ui.home.report.ReportWaterHyacinth"/>
        <activity android:name=".ui.home.report.ReportSolidWaste"/>
        <activity android:name=".ui.home.report.ReportIbaPa"/>
        <!-- User Profile -->
        <activity android:name=".ui.home.MyReportActivity"/>
        <activity android:name=".ui.home.MyQuestActivity"/>
        <!-- Support -->
        <activity android:name=".ui.support.DevTeamActivity"/>
        <!-- Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>